#profile-picture {
    border-radius: 100%;
    border: 2px black solid;
    box-shadow: 0px 0px 10px white;
}

#navbar-key {
    margin-right: 25px;
    color: gold;
}

#account-piano-info {
    height: 50px;
    width: 60px;
    margin: 10px;
}

#navbar-logo {
    position: relative;
    height: 90px;
    top: 18px;
}