/*NAVIGATION PAGE:*/

.navbar-icon {
  position: relative;
  left: 28%;
  height: 300px;
  width: 400px;
  border-radius: 3%;
  box-shadow: 0px 0px 19px black;
  cursor: pointer;
}

.lesson-step {
  font-size: 65px;
  position: relative;
  top: 123px;
  left: 5px;
  color: #be3636;
}

.navbar-icon:hover {
    box-shadow: 0px 0px 19px rgb(182, 31, 31);
}

.navpage-flipped {
  -moz-transform: rotateY(180deg) translateX(-480px);
  -webkit-transform: rotateY(180deg) translateX(-480px);
  transform: rotateY(180deg) translateX(-480px);
}

#reading-music-icon {
  height: 100px;
  position: relative;
  top: 15%;
  left: 14%;
}

.navpage-container {
  perspective: 1000px;
  left: 50px;
  position: relative;
  margin: 20px;
}

.navbar-icon-text {
  left: 20px;
  position: relative;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
  left: -5%;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	top: 0;
	left: 200px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    position: absolute;
    height: 300px;
    width: 400px;
    border-radius: 3%;
    box-shadow: 0px 0px 19px black;
    transform: rotateY(180deg) scale(-1, 1);
    -moz-transform: rotateY(180deg) scale(-1, 1);
    -webkit-transform: rotateY(180deg) scale(-1, 1);
    -o-transform: rotateY(180deg) scale(-1, 1);
    -ms-transform: rotateY(180deg) scale(-1, 1);
    overflow-y: scroll;
    overflow-x: hidden;
}

.topic-header {
  font-family: bebas-kai;
  font-size: x-large;
  text-shadow: 1px 1px beige;
  width: 50%;
  position: relative;
  left: 40%;
  top: 150px;
  z-index: 100;
  text-transform: uppercase;
}

.lesson-header {
  font-family: bebas-kai;
  text-align: center;
  font-size: larger;
  padding-left: 20px;
}

.slides-quizzes {
  text-align: center;
}

#learn {
  font-family: gravity-book;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
}

#learn:hover {
  color: rgb(182, 31, 31);
}

#play {
  font-family: gravity-book;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
}

#play:hover {
  color: rgb(182, 31, 31);
}

hr.style1{
	border-top: 1px solid #8c8b8b;
  margin-left: 10px;
  opacity: 0.5;
}