/*NAVIGATION PAGE:*/
@font-face {
  font-family: basic-title;
  src: url("/fonts/BasicTitle.ttf");
}



.topic-header {
  font-family: bebas-kai;
  font-size: 55px;
  width: 98%;
  position: relative;
  z-index: 100;
  text-transform: uppercase;
}

.lesson-header {
  font-family: bebas-kai;
  font-size: 24px;
  top: 18px;
  position: relative;
  margin-left: 8%;
  color: #bd3636;
}

.slides-quizzes {
  text-align: center;
  padding-bottom: 20px;
  visibility: hidden;
}

.slides-quizzes-visible {
  visibility: visible;
}

#learn {
  font-family: gravity-book;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
  font-size: 15px;
  position: relative;
  top: -45px;
}

#learn:hover {
  color: rgb(182, 31, 31);
}

#divider {
  font-family: gravity-book;
  font-size: 15px;
  display: inline-block;
  top: -45px;
  position: relative;
  margin: 20px;
}

#test {
  font-family: gravity-book;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
  font-size: 15px;
  position: relative;
  top: -45px;
}

#test:hover {
  color: rgb(182, 31, 31);
}

#play {
  font-family: gravity-book;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
  font-size: 15px;
  position: relative;
  top: -45px;
}

#play:hover {
  color: rgb(182, 31, 31);
}

.vertical {
  display: inline-block;
  position: relative;
  left: 85%;
  top: 30px;
  width: 20%;
  height: 40px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
.vertical {
  box-shadow: inset 0px 4px 6px #ccc;
}
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}