@import url("home.css");
@import url("login.css");
@import url("account.css");
@import url("lesson-page.css");
@import url("navbar.css");
/*@import url("keyboard.css");*/
@import url("piano.css");

/*FONTS*/
@font-face {
  font-family: bebas;
  src: url("/fonts/bebas.ttf");
}

@font-face {
  font-family: gravity-book;
  src: url("/fonts/Gravity-Book.otf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#app, #main {
  width: inherit;
  height: inherit;
}

.content {
  min-height: calc(100vh - 55px);
  padding-top: 5.6em;
}

/* Nav bar */

#navbar-container {
background-color: #963838;}

#navbar {
  color: #963838;
  position: fixed;
  z-index: 2;
  width: 100%;
}

#navbar a {
  text-decoration: none;
}

#drawer-icon {
  color: white;
}

#drawer-icon:hover {
  color: #00BCD4
}

.navbar-item, .navbar-item > a {
  display: flex;
  align-items: center;
}

/* navbar icons */
.navbar-item button > div > span:hover {
  color: #00b6ce !important;
}

/* navbar icons */
.navbar-item > a > span {
  padding: 0 16px;
}

/* Product Search */

.product-results {
  padding-top: 1em;
  text-align: center;
}

.thumbnail {
  display: inline-block;
}

/* Review List */
/* Note: Change star font-size */

#reviews {
  padding-top: 20px;
}

.reviews-header * {
  display: inline;
}

.reviews-rating {
  float: right;
  font-size: 30px;
}

.review > p {
  margin: 0;
}

.add-review-error {
  display: flex;
  color: red;
  font-weight: bold;
}

.stars {
  display: inline;
}

.star-press:hover {
  cursor: pointer;
}

.star-static:hover {
  cursor: default;
}

/* Checkout */

.form-box {
  border: 1px solid #edd5ed;
  padding: 0 15px 15px;
  margin-bottom: 20px;
}

/* Always set the width of the legend inline */
.form-box > legend {
  border: none;
  margin: 0;
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.498039);
  font-size: 1.4em;
}

/* Log In */
.error-message {
  color: red;
}

/* Questions */
.text-input-question .col-xs-5 {
  border: 2px solid lightcoral;
  border-radius: 25px;
  width: 250px;
  height: 150px;
  padding: 20px;
  margin: 5%;
}

.text-input-question .col-xs-1 {
  padding: 20px;
  margin-top: 60px;
  font-size: 45px;
}

#hint-button {
  background-color: darkorange;
  margin-top: 5px;
  margin-right: 36px;
  border: none;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  color: white;
}

#hint-button:hover {
  box-shadow: 0 0 5px black;
}

#user-answer {
  width: 250px;
  height: 150px;
  border: 2px solid lightcoral;
  border-radius: 25px;
  padding: 20px;
  margin: 5%;
  text-align: center;
}

#user-answer:focus {
  outline: none;
  border-color: lightcoral;
  box-shadow: 0 0 10px lightcoral;
}

#mc-question-body {
  margin: 10px;
  height: 29em;
  top: -10px;
  padding: 20px;
  padding-left: 55px;
}

#multiplechoice-container {
  background-color: #f9f3e7;
  padding-right: 51px;
  margin: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  border-radius: 3%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.65);
}

.multiple-choice-ans {
  height: 40px;
  width: 30%;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 5px 5px 5px grey;
  position: relative;
  left: 20%;
  line-height: 36px;
}

.multiple-choice-ans:active {
  transform: translateY(4px);
}

.right-answer {
  background-color: green;
}

.wrong-answer {
  background-color: red;
}

#circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: red;
}

.bad-job {
  visibility: hidden;
}

.good-job {
  visibility: visible;
}

#account-beathoven-head {
  height: 55px;
  margin-left: 20px;
}

#account-beathoven-head:hover{-ms-animation:wiggle 5s 2;-moz-animation:wiggle 5s 2;-webkit-animation:wiggle 5s 2;animation:wiggle 5s 2;}

@-ms-keyframes wiggle{0%{-ms-transform:rotate(20deg);}50%{-ms-transform:rotate(-20deg);}100%{-ms-transform:rotate(20deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(20deg);}50%{-moz-transform:rotate(-20deg);}100%{-moz-transform:rotate(20deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(20deg);}50%{-webkit-transform:rotate(-20deg);}100%{-webkit-transform:rotate(20deg);}}
@keyframes wiggle{0%{transform:rotate(20deg);}50%{transform:rotate(-20deg);}100%{transform:rotate(20deg);}}

.account-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

/*NAVIGATION PAGE:*/

.navbar-icon {
  position: relative;
  left: 55%;
  height: 300px;
  width: 400px;
  border-radius: 3%;
  box-shadow: 0px 0px 19px black;
}

.navpage-container:hover .flipper, .navpage-container.hover .flipper {
  -moz-transform: rotateY(-180deg) translateX(-400px);
  -webkit-transform: rotateY(-180deg) translateX(-400px);
  transform: rotateY(-180deg) translateX(-400px);
}

#reading-music-icon {
  height: 100px;
  position: relative;
  top: 15%;
  left: 14%;
}

.navpage-container {
  perspective: 1000px;
  left: 50px;
  position: relative;
  margin: 20px;
}

.navbar-icon-text {
  left: 20px;
  position: relative;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	top: 0;
	left: 200px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  position: absolute;
  height: 300px;
  width: 400px;
  border-radius: 3%;
  box-shadow: 0px 0px 19px black;
	transform: rotateY(180deg);
  overflow-y: scroll;
}

.topic-header {
  font-family: bebas;
  font-size: x-large;
  text-shadow: 1px 1px beige;
  width: 50%;
  position: relative;
  left: 80%;
  top: 150px;
  z-index: 100;
  text-transform: uppercase;
}

.lesson-header {
  font-family: bebas;
  text-align: center;
  font-size: larger;
  padding-left: 20px;
}

.slides-quizzes {
  text-align: center;
}

#learn {
  font-family: gravity-book;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
}

#learn:hover {
  color: red;
}

#play {
  font-family: gravity-book;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
}

#play:hover {
  color: red;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
  margin-left: 10px;
  opacity: 0.5;
}

#next-button {
  position: relative;
  left: 300px;
}